### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Java ###
*.class
*.log
hs_err_pid*

### Build Output ###
build/
target/

### Application Servers ###
glassfish/
gfdeploy/
logs/
temp/
work/

### WAR / EAR ###
*.war
*.ear

### OS ###
.DS_Store
Thumbs.db

### Environment / Secrets ###
.env
*.local
application-local.properties
application-local.yml

nbproject/genfiles.properties
nbproject/build-impl.xml
nbproject/project.xml
